<html>
  <head>
    <title>Blog | <%= title%></title>
  </head>
  <body>
    <nav>
      <div class="site-title">
        <a href="/">Blog</a>
        <p>Blog Note Site</p>
      </div>
      <ul>
        <li><a href="/">Blog</a></li>
        <li><a href="/about">about</a></li>
        <li><a href="/blogs/create">New Blog</a></li>
      </ul>
    </nav>
    <div class="blogs content">
      <h1>All Blogs</h1>
    </div>
  </body>
</html>
